html
  head
    title Home Page of Robert de Forest

  body
    h1 Not ready yet!

    p
      text Come back in a few weeks or &nbsp;
      a(href="email:guitar.robot@gmail.com") email Robert 
      text &nbsp;if you grow impatient.
