doctype html

html
  head
    title All About Robert de Forest
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    link(rel="stylesheet" type="text/css" href="style.css.text=css")

  body
    div.titleBar.
      Vanity is only bad if you lord it over others, right?

    div.nonTitle
      div.leftMenu.menu
        ul
          - list = ["Summary", "Status", "Projects",
                    "Events"]
          each item in list
            li= 
              

      div.rightMenu.menu

      div.content
